.header {

}

.nav {
    display: flex;



}


.button {
    background-color: green;
    width: 200px;
    height: 20px;
}


.navBar {
    border: 1px solid;
    width: 200px;
    height: 20px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    margin: 2px;
}